PORT=

# JWT
JWT_SECRET=ARBALEST1337

# DB
DB_URL=

# mureka
MUREKA_API_KEY=

# Wan
WAN_API_KEY=

# Openai
OPENAI_API_KEY=

# Cloudflare
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_PUBLIC_URL
CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_R2_ACCESS_KEY=
CLOUDFLARE_R2_SECRET_KEY=

# Proxy
HTTP_PROXY=http://127.0.0.1:7890

# Redis
REDIS_URL=redis://localhost:6379


# Stripe
STRIPE_SECRET_KEY=

# Gemini
GEMINI_API_KEY=

### OAuth
OAUTH_TOKEN_ENC_KEY=arbalest1337
OAUTH_REDIRECT_URI=

# X Twitter
OAUTH_X_CLIENT_ID=
OAUTH_X_CLIENT_SECRET=


# TikTok
OAUTH_TIKTOK_CLIENT_KEY=
OAUTH_TIKTOK_CLIENT_SECRET=

# Youtube
OAUTH_YOUTUBE_CLIENT_ID=
OAUTH_YOUTUBE_CLIENT_SECRET=


